.footer {
    display: flex;
    justify-content: space-between;
    border-top: $border;
    padding-top: 20px;
    padding-bottom: 20px;

    a, i, p {
        color: $icon-accent-color;
    }

    i {
        font-size: xx-large;
    }

    p {
        color: $font-color;
        font-style: italic;
    }

    .social {
        font-size: 2rem;
        padding-left: 2em;
    }

    .social a {
        text-decoration: none;
    }
}
