.nav {
    a {
        color: $font-color !important; /* Update with actual color or variable */
        font-size: 15px; /* Add unit for font size */
        padding-right: 1em;
        transition: all 0.3s ease;
    }

    li {
        color: $font-color; /* Update with actual color or variable */
    }

    a:hover {
        color: $font-alternative-color;
        transform: scale(1.2);
        font-size: 18px;
    }

    .active {
        background-color: $accent-color;
        color: #000;
        font-weight: bold;
        font-size: larger;
    }
}

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

/* Title */

.logo {
    padding: 3em 3em 3em 0;
    max-width: 15vw;
    filter: grayscale(30%);
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 15vw;
    }
}

.title {
    * {
        color: $font-color;
    }

    p {
        font-style: italic;
    }
}