.nav {
    margin: 0 auto; 
    border-top: $border;
    width: 100%;
    display: flex;
    justify-content: center;

    a {
        color: $font-color;
        font-size: 20px;
        padding-right: 1em;
        text-decoration: none;
    }

    li {
        color: $font-color;
    }

    a:hover {
        color: $dark-code-link-color;
        text-decoration: underline;
    }

    .active {
        font-weight: bold;
        font-size: larger;
        text-decoration: underline;
        color: $dark-code-link-color;
    }
    .active a {
        color: $dark-code-link-color
    }
}

.header, .site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Title */

.logo {
    padding: 3em 3em 3em 0;
    max-width: 200px;
    filter: grayscale(30%);
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 15vw;
    }

    .nav {
        border: none; /* Fix: Remove the border for small screens */
    }

    .header {
        border: none;
    }
}

.title {
    * {
        color: $font-color;
    }

    p {
        font-style: italic;
    }
}

.header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: $border;
}