.landingpage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem 2rem;
    padding: 1rem;
}

.landingpage h1,
.landingpage h2 {
    grid-column: span 3;
    text-align: center;
    padding-left: 0;
}

.big-box a,
.medium-box a,
.small-box a {
    color: $font-color;
    text-decoration: none;
}

.big-box,
.medium-box,
.small-box {
    border: $border;
    padding: 1rem;
    text-align: center;
    box-sizing: content-box;
    transition: transform 0.3s ease;
}

.big-box {
    grid-column: span 3;
    box-shadow: $small-box-shadow;
}

.medium-box {
    grid-column: span 2;
    box-shadow: $small-box-shadow;
}

.small-box {
    grid-column: span 1;
    box-shadow: $small-box-shadow;
}

.big-box:hover,
.medium-box:hover,
.small-box:hover {
    transform: scale(1.05);
    text-decoration: underline;
    background-color: $background-color;
}

.single-technology {
    display: flex;
    flex-direction: row;
}

.tech-menu {
    width: 33.3%;
    height: 100vh;
    background-color: $background-alternative-color;
    text-align: left;
    color: $font-color;
    border-right: $border;

}

.tech-content {
    width: 66.6%;
    height: 100vh;
    background-color: $background-alternative-color;
    text-align: left;
    color: $font-color;
}

@media (max-width: 600px) {
    .tech-menu {
        display: none;
    }

    .tech-content {
        width: 100%;
    }

    .landingpage {
        grid-template-columns: 1fr;
    }

    .landingpage h1 {
        grid-column: span 1;
    }

    .big-box,
    .medium-box,
    .small-box {
        grid-column: span 1;
    }
}
