@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display&display=swap');

$header-font: 'Raleway', sans-serif;
$main-font: 'Merriweather', serif;
$font-color: #242424;
$font-alternative-color: #fff;
$accent-color: #ee3102;
$background-color: #ff9b30;
$background-alternative-color: #f5f3ed;
$border: 2px solid #000;
$main-margin: 2em;
$padding: 40px;
$box-shadow: 10px 10px rgb(0, 0, 0);